{% extends "base.html" %}

{% block site_meta %}
{{ super() }}
<meta name="color-scheme" content="light dark">
<meta name="theme-color" content="#4cae4f" />
<!-- <meta name="theme-color" content="#68bb6c" media="(prefers-color-scheme: light)"> -->
<!-- <meta name="theme-color" content="#398e3d" media="(prefers-color-scheme: dark)"> -->
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{{ super() }}
{% endblock %}
