{{ template "cook.headerSection" . }}

{{ template "cook.imageSection" . }}

{{ template "cook.tableSection" . }}

???+ summary "Ingredients"

	{{ template "cook.ingredients" . }}

???+ summary "Cookware"

	{{ template "cook.cookware" . }}

{{ template "cook.stepsWithAdmonishedCommentsSection" . }}

???+ cite "Source"

	{{ template "cook.source" . }}