{{ template "cook.headerSection" . }}

{{ template "cook.imageSection" . }} { width="300" loading=lazy }

{{ template "cook.tableSection" . }}

{{ template "cook.ingredientsSection" . }}

{{ template "cook.cookwareSection" . }}

{{ template "cook.stepsWithAdmonishedCommentsSection" . }}

???+ cite "Source"
	{{ template "cook.source" . }}