{{- define "snow" -}}
---
ᴴₒᴴₒᴴₒ: true
---
{{- end -}}

{{ template "cook.headerSection" . }}

{{ template "cook.lazyImageSection" . }}

{{ template "cook.tableSection" . }}

=== "{{ template "cook.ingredientsHeader" . }}"
    {{ template "cook.ingredients" . }}

=== "{{ template "cook.cookwareHeader" . }}"
	{{ template "cook.cookware" . }}

{{ template "cook.stepsWithAdmonishedCommentsSection" . }}

???+ quote "Source"
	{{ template "cook.source" . }}