mkdocs==1.4.2
mkdocs-material==9.1.5
ghapi==1.0.3
requests==2.28.2
lesscpy==0.15.1
CairoSVG==2.7.0
Pillow==9.5.0
distro==1.8.0
mkdocs-git-revision-date-localized-plugin==1.2.0
mkdocs-minify-plugin==0.6.4
pymdown-extensions==9.10
toc==0.0.11
mkdocs-exclude==1.0.2
mkdocs-glightbox==0.3.2
mkdocs-google-translate==1.1.2