mkdocs==1.4.2
mkdocs-material==9.0.14
ghapi==1.0.3
requests==2.28.2
lesscpy==0.15.1
CairoSVG==2.6.0
Pillow==9.4.0
distro==1.8.0
mkdocs-git-revision-date-localized-plugin==1.1.0
mkdocs-minify-plugin==0.6.2
pymdown-extensions==9.9.2
toc==0.0.11
mkdocs-exclude==1.0.2
mkdocs-glightbox==0.3.1
mkdocs-google-translate==1.1.2