name: Debug

on:
  workflow_dispatch:
    inputs:
      useMkDocsCache:
        description: 'MkDocs use caching'
        required: true
        type: boolean

permissions:
  contents: read

jobs:
  generate:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        py: ['3.x', '3.13.0-alpha - 3.13.x']
        # cook docs still build for 1.18 (https://github.com/nicholaswilde/cook-docs/blob/main/go.mod#L3), test all through latest version 
        go: ['1.18', '1.19', '1.20', '1.21', '1.22']
    steps:
      - uses: step-security/harden-runner@eb238b55efaa70779f274895e782ed17c84f2895 # v2.6.1
        with:
            egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - uses: actions/setup-python@0a5c61591373683505ea898e09a3ea4f39ef2b9c # v5.0.0
        id: sp
        with:
          python-version: ${{ matrix.py }}
          check-latest: true
          cache: 'pip'
      - run: pip install -r requirements.txt
      - uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
        id: sg
        with:
          go-version: ${{ matrix.go }}
          check-latest: true
      - name: MkDocs cache
        if: ${{ inputs.useMkDocsCache }}
        uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84 # v3.3.2
        with:
          key: ${{ github.ref }}
          path: .cache
      - run: mkdocs build
        env:
          CI_SYSTEM_OVERRIDE: 0
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ENABLED_SOCIAL: true
          SITE_URL: https://demosjarco.github.io/recipes/
          RO_TRANSLATE_URL: https://translate.google.com/translate?sl=en&tl=ro&hl=ro&u=https://demosjarco.github.io/recipes/%GT_RELATIVE_URL%
          ES_TRANSLATE_URL: https://translate.google.com/translate?sl=en&tl=es&hl=es&u=https://demosjarco.github.io/recipes/%GT_RELATIVE_URL%
      - uses: actions/upload-artifact@c7d193f32edcb7bfad88892161225aeda64e9392 # v4.0.0
        with:
          name: py${{ steps.sp.outputs.python-version }}_go${{ steps.sg.outputs.go-version }}
          path: ${{ github.workspace }}
          if-no-files-found: error
          compression-level: 9
      - run: find . -type f -exec sha256sum {} \; > 'py${{ steps.sp.outputs.python-version }}_go${{ steps.sg.outputs.go-version }}_hashes.sha256'
      - uses: actions/upload-artifact@c7d193f32edcb7bfad88892161225aeda64e9392 # v4.0.0
        with:
          name: py${{ steps.sp.outputs.python-version }}_go${{ steps.sg.outputs.go-version }}_hashes.sha256
          path: '${{ github.workspace }}/py${{ steps.sp.outputs.python-version }}_go${{ steps.sg.outputs.go-version }}_hashes.sha256'
          if-no-files-found: error
          compression-level: 9