name: Optimize PNGs

on:
  push:
    paths:
      - ".github/workflows/png-optim.yml"
      - "**.png"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  optimize:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: step-security/harden-runner@eb238b55efaa70779f274895e782ed17c84f2895 # v2.6.1
        with:
          disable-sudo: true
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      # https://github.com/actions/cache/blob/main/examples.md#rust---cargo
      # https://github.com/rust-lang/cargo/issues/4725
      # https://doc.rust-lang.org/cargo/reference/environment-variables.html
      - name: Rust Package Cache
        uses: actions/cache@e12d46a63a90f2fae62d114769bbf2a179198b5c # v3.3.3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      # https://doc.rust-lang.org/cargo/guide/continuous-integration.html#github-actions
      - run: rustup update stable && rustup default stable
      - run: |
          if ! command -v oxipng &> /dev/null
          then
            echo "oxipng is not installed. Installing now..."
            cargo install oxipng
            exit
          fi

          installed_version=$(oxipng --version)
          latest_version=$(curl -s https://crates.io/api/v1/crates/oxipng | jq -r '.crate.max_version')

          if [[ $installed_version != *$latest_version* ]]; then
            echo "oxipng is out of date. Updating now..."
            cargo install oxipng --force
          else
            echo "oxipng is up to date."
          fi
      - run: oxipng --opt max --recursive --preserve --strip safe --zopfli -t 4 ${{ github.workspace }}/recipes
      - name: Git Setup
        run: |
          git config user.name "oxipng[bot]"
          git config user.email "oxipng[bot]@users.noreply.github.com"
      - run: git commit -am "Optimized PNG"
      - run: git push